@model CA3MVC.Models.ZooAnimal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ZooAnimal</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZooId" class="control-label"></label>
                <input asp-for="ZooId" class="form-control" />
                <span asp-validation-for="ZooId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species" class="control-label"></label>
                <input asp-for="Species" class="form-control" />
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HabitatInformation" class="control-label"></label>
                <input asp-for="HabitatInformation" class="form-control" />
                <span asp-validation-for="HabitatInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diet" class="control-label"></label>
                <input asp-for="Diet" class="form-control" />
                <span asp-validation-for="Diet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialCareRequirements" class="control-label"></label>
                <input asp-for="SpecialCareRequirements" class="form-control" />
                <span asp-validation-for="SpecialCareRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConservationStatus" class="control-label"></label>
                <input asp-for="ConservationStatus" class="form-control" />
                <span asp-validation-for="ConservationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
